<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap" rel="stylesheet">
  <title>movies!</title>
</head>

<body>
  <header>
    <form>
      <input type="text" onfocus=this.value='' value="Cast Away" required>
      <button type="submit" name="button">Search &#x1F50E;</button>
    </form>
  </header>

  <div class="movie">

    <div class="movie_header">
      <h1 id="title"></h1>
    </div>


      <div class="movie_ratings">
        <div>
          <div class="ratings-heading">
            <p id="imdb"></p>
          </div>
          <div class="ratings-item">
            <p id="rating1"></p>
          </div>
        </div>

        <div>
          <div class="ratings-heading">
            <p id="rotten_tomatoes"></p>
          </div>
          <div class="ratings-item">
            <p id="rating2"></p>
          </div>
        </div>

        <div>
          <div class="ratings-heading">
            <p id="metacritic"></p>
          </div>
          <div class="ratings-item">
            <p id="rating3"></p>
          </div>
        </div>

      </div>


      <!-- <div class="img-container">
        <img src="https://m.media-amazon.com/images/M/MV5BMDdmZGU3NDQtY2E5My00ZTliLWIzOTUtMTY4ZGI1YjdiNjk3XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_SX300.jpg" id="movie_img" alt="movie poster">
      </div> -->

      <div class="movie_details">
            <div class="details-heading">
              <p id="label_director"></p>
            </div>
            <div class="detail-item">
              <p id="director"></p>
            </div>

            <div class="details-heading">
              <p id="label_writer"></p>
            </div>
            <div class="detail-item">
              <p id="writer"></p>
            </div>

            <div class="details-heading">
              <p id="label_actors"></p>
            </div>
            <div class="detail-item">
              <p id="actors"></p>
            </div>
          </div>

        <!-- <p>Release: "19 Dec 1997</p>
        <p>Genre: "Drama, Romance"</p>

        <p>Plot "A seventeen-year-old aristocrat falls in love with a kind but poor artist aboard the luxurious, ill-fated R.M.S. Titanic."</p> -->
      </div>

    </div>
    <script src="/js/script.js"></script>

</body>

</html>
