<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="/icon.png">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap" rel="stylesheet">
  <title>Movie Search</title>
</head>

<body>
  <header>
    <form>
      <input type="search" onfocus=this.value='' value="Cast Away" required>
      <button id="mybutton" type="submit" name="button">Search &#x1F50E;</button>
    </form>
  </header>

  <div class="movie">

    <div class="movie_header">
      <h1 id="title"></h1>
      <p id="year"></span>

    </div>

    <div class="movie_ratings">
      <div>
        <div class="ratings-heading">
          <p id="imdb"></p>
        </div>
        <div class="ratings-item">
          <p id="rating1"></p>
        </div>
      </div>

      <div>
        <div class="ratings-heading">
          <p id="rotten_tomatoes"></p>
        </div>
        <div class="ratings-item">
          <p id="rating2"></p>
        </div>
      </div>

      <div>
        <div class="ratings-heading">
          <p id="metacritic"></p>
        </div>
        <div class="ratings-item">
          <p id="rating3"></p>
        </div>
      </div>
    </div>

    <div class="movie_details">
      <div class="details-heading">
        <p id="label_director"></p>
      </div>
      <div class="detail-item">
        <p id="director"></p>
      </div>

      <div class="details-heading">
        <p id="label_writer"></p>
      </div>
      <div class="detail-item">
        <p id="writer"></p>
      </div>

      <div class="details-heading">
        <p id="label_actors"></p>
      </div>
      <div class="detail-item">
        <p id="actors"></p>
      </div>

      <div class="details-heading">
        <p id="label_plot"></p>
      </div>
      <div class="detail-item">
        <p id="plot"></p>
      </div>
    </div>

  </div>

  </div>
  <script src="/js/script.js"></script>

</body>

</html>
