:root {
  --purple: #1f8686;
  --lightpurple: #32a850;
  --pink: #ab47a9;
  --lightpink: #c39bf1;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  font-size: 1.0em;
}
body {
  background-color: #222;
  font-family: 'Josefin Sans', sans-serif;
}
.main {
  max-width: 800px;
  margin: auto;
}
input[type=search] {
  width: 100%;
  padding: 10px;
  background-color: #333;
  border: 0;
  border-bottom: 1px solid #eee;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  font-size: 1.1em;
}
input:focus {
  background-color: #444;
  outline: none;
  border-bottom: 2px solid #eee;
  border-radius: 10px 10px 0 0;
}

a,
p,
button,
input {
  text-align: center;
  color: #999;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 10px 10px 0 0;
}
a{
  text-decoration: none;
  color: var(--pink);
}

a:hover {
  color: var(--lightpink);
}

h1{
  font-size: 1.5em;
  color:#eee;
}
input[type=text]:focus {
  outline: none;
}
button {
  width: 100%;
  padding: 10px;

  cursor: pointer;

  color: #fff;
  border: none;
  background-color: #32a86d;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.16);

  font-weight: 600;
  border-radius: 0 0 10px 10px;
  appearance: none;
  -webkit-appearance: none;
}
button:hover{
  transition: ease;
  border: 0;
  background-color: var(--purple);
  box-shadow:  0 15px 4px rgba(7, 2, 28, 0.16);
}
header {
  margin: 20px;
}

.movie{
  background-color: #111;
  border-radius: 10px;
  margin: 10px;
  visibility: hidden;
}
.movie_header{
  padding: 15px;
  text-align: center;
}
/* row 2 */
.movie_ratings{
  display: flex;
  justify-content: space-around;
  padding-bottom: 12px;
}

.ratings-heading{
  display: flex;
  justify-content: space-around;
}
.ratings-heading p{
  font-size: 0.8em;
}
.ratings-item{
  padding-top: 5px;
  display: flex;
  justify-content: space-around;
}
.ratings-item p {
  color: #fff;
  font-size: 1.4em;
}

.movie_details{
  padding: 12px 12px 24px 12px;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}
.details-heading{
  padding: 10px 0 5px 0;
}
.details-heading p{
  color:var(--pink);
  text-align: left;
  font-size: 0.9em;
}
.detail-item p {
  color: #1f1e1e;
  font-size: 1.0em;
  text-align: left;
}
