*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  font-size: 1.0em;
}
body {
  display: flex;
  justify-content: center;
  background-color: #222;
  color: #444;
  display: block;
  font-family: 'Josefin Sans', sans-serif;
}
input[type=search] {
  width: 100%;
  padding: 10px;
  background-color: #222;
  border: 0;
  border-bottom: 1px solid #eee;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  font-size: 1.1em;
}
a,
p,
button,
input {
  text-align: center;
  color: #999;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 10px 10px 0px 0px;
}
a{
  text-decoration: none;
  color: #ab47a9;
}

a:hover {
  color: #c39bf1;
}

h1{
  font-size: 1.4em;
}
input[type=text]:focus {
  outline: none;
}
button {
  width: 100%;
  padding: 10px;

  cursor: pointer;

  color: #fff;
  border: none;
  background-color: #4032a8;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.16);

  font-weight: 600;
  border-radius: 0px 0px 10px 10px;
  appearance: none;
  -webkit-appearance: none;
}
button:hover{
  transition: ease;
  border: 0;
  background-color: #2c1f86;
  box-shadow:  0 15px 4px rgba(7, 2, 28, 0.16);
}
header{

  margin-bottom: 20px;
  display: grid;
  margin: 20px
}
#answer {
  margin-top: 20px;
  padding: 20px;
}

#input {
  width: 500px;
  margin-top: 25px;
  padding: 30px 20px 20px 20px;

  border: 0;
  border-bottom: 1px solid #eee;
  border-radius: 15px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}
#output {
  text-align: center;

  color: #555;
}
.movie{
  background-color: #111;
  border-radius: 10px 10px 10px 10px;
  margin: 10px;
  visibility: hidden;
}
.movie_header{
  padding: 15px;
  text-align: center;
}
.movie_header h1 {
  color: #ab47a9;
  font-size: 1.5em;
}
/* row 2 */
.movie_ratings{
  display: flex;
  justify-content: space-around;
  padding-bottom: 12px;
}

.ratings-heading{
  display: flex;
  justify-content: space-around;
}
.ratings-heading p{
  font-size: 0.8em;
}
.ratings-item{
  padding-top: 5px;
  display: flex;
  justify-content: space-around;
}
.ratings-item p {
  color: #fff;
  font-size: 1.4em;
}

.movie_details{
  padding: 12px 12px 24px 12px;
  background-color: #fff;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}
.details-heading{
  padding: 10px 0 5px 0;
}
.details-heading p{
  color:#ab47a9;;
  text-align: left;
  font-size: 0.9em;
}
.detail-item p {
  color: #1f1e1e;
  font-size: 1.0em;
  text-align: left;
}
